// https://coolors.co/058ed9-fdfffc-f5141f-000000-adadad
$red-gradient: linear-gradient(to bottom, rgb(255, 0, 0), rgb(234, 2, 2), rgb(213, 3, 3), rgb(193, 5, 5), rgb(172, 7, 7), rgb(151, 9, 9), 
rgb(130, 10, 10), rgb(109, 12, 12), rgb(88, 14, 14), rgb(68, 16, 16), rgb(47, 17, 17), rgb(26, 19, 19));
$black-gradient: linear-gradient(to bottom, #000000 0%, #434343 74%);
$red: #F5141F;
$grey: #666666;
$blue: #058ED9;

.header {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1% auto;
    background-image: $black-gradient;
    border: 2px solid white;
    border-radius: 5px;

    h1 {
        margin: 1% auto;
        margin-bottom: 0%;
        color: white;
    }

    h4 {
        margin: 1% auto;
        margin-bottom: 0%;
        color: white;
        text-decoration: underline;
    }

    div {
        width: 60%;
        margin: 1% auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            width: 20%;
            font-size: large;
            padding: 2%;
            background: $red-gradient;
            border: 1px solid oldlace;
            border-radius: 10px;
            color: oldlace;
        }

        button:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}

.principles {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $red-gradient;

    div {
        background: #0A0A0A;
        color: oldlace;
        border: 1px solid oldlace;
        border-radius: 25px;
        width: 60%;
        margin: 1% auto;
        padding: 2%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 0;

        h3 {
            margin: 2% auto;
            margin-top: 0.1%;
            border-bottom: 1px solid white;
        }

        h4 {
            margin: 1% auto;
        }

        p {
            text-align: start;
            font-weight: 800;
        }

        span {
            font-size: 1.3rem;;
            color: $red;
            font-weight: 800;
        }

        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0;
            padding: 0.5%;
            padding-top: 2%;
            border: none;
            background: none;
            border-top: 1px solid white;
            border-radius: 0%;

            button {
                margin: 1%;
                background: $blue;
                padding: 0.5%;
                border: 1px solid oldlace;
                border-radius: 10px;
                color: oldlace;
                font-weight: 600;
                font-size: 1rem;
            }

            button:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}

// Login

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin: 1% auto;
    }
}