// https://coolors.co/058ed9-fdfffc-d70913-000000-b0c7bd
$red-gradient: linear-gradient(to bottom, #eb0000 17%, #000000 91%);
$black-gradient: linear-gradient(to bottom, #000000 0%, #434343 74%);
$red: #d70913d7;
$grey: #B0C7BD;
$blue: #058ED9;

.header {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1% auto;
    background: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 5px;

    h1 {
        margin: 1% auto;
        margin-bottom: 0%;
    }

    h4 {
        margin: 1% auto;
        margin-bottom: 0%;
    }

    div {
        width: 60%;
        margin: 1% auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            width: 20%;
            font-size: large;
            padding: 2%;
            background: linear-gradient(to bottom, #eb0000 17%, #000000 91%);
            border: 1px solid oldlace;
            border-radius: 10px;
            color: oldlace;
        }
    }
}