// https://coolors.co/058ed9-fdfffc-f5141f-000000-adadad
$red-gradient: linear-gradient(to bottom, #eb0000 17%, #000000 91%);
$black-gradient: linear-gradient(to bottom, #000000 0%, #434343 74%);
$red: #F5141F;
$grey: #353535;
$blue: #058ED9;
