$app-background: #2d3436 linear-gradient(315deg, #2d3436 0%, #000000 74%);
$primary-color: #d70913d7;
$secondary-color: #838383;

html {
    background: linear-gradient(to bottom, #eb0000 17%, #000000 91%);
    background-repeat: no-repeat;
}

.app {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1% auto;
    background: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 5px;

    h1 {
        margin: 1% auto;
    }

    h4 {
        margin: 1% auto;
    }
}