// https://coolors.co/058ed9-fdfffc-d70913-000000-b0c7bd
$red-gradient: linear-gradient(to bottom, #eb0000 17%, #000000 91%);
$black-gradient: linear-gradient(to bottom, #000000 0%, #434343 74%);
$red: #d70913d7;
$grey: #353535;
$blue: #058ED9;

#root {
    background-color: #000000;
    background-image: $black-gradient;
    border: 2px solid $red;
    border-radius: 25px;
}

.app {

}